.messages{
    background:url(../../Images/Saraha.jpg);
    background-attachment: fixed;
    background-size: calc(500px);
  }
  
  
.wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.icon{
  font-size: 100px;
}