*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  
.wrapper{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:url(../../Images/Saraha.jpg);
  background-size: calc(500px);
  position: relative;
}

.icon{
  font-size: 60px;
  color: rgb(129, 109, 109);
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -70%);
}
.info{
  width: 680px;
  height: 100px;
  display: block;
  justify-content: center;
  align-items: center;
  border: 1px solid white;border-bottom: none;
  position: relative;
}